$background-color=red
add(a,b=a)
    a=unit(a,px)
    b=unit(b,px)
    a+b
.bg
    background-color: $background-color
    width:add(500)
    height:add(200)
    &:hover
        background-color: yellow
